.content_text_massage {
  & a {
    color: #fff;
    text-decoration: underline;
  }
}

.contentMessage {
  position: relative;
}

.contentMessage:hover .actionMessage {
  display: flex;
}

.actionMessage {
  display: none;
}

.reactionWraper {
  display: none;
}
