.main {
  height: 100vh;
  overflow-y: scroll;
}

.listItem {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameChat {
  font-size: 18px;
  font-weight: 600;
  width: 120px;
}
.textChat {
  color: #7f8b97;
}

.img {
  height: 60px;
  width: 60px;
  margin-right: 25px;
  img {
    border-radius: 50px;
    height: 100%;
    width: 100%;
  }
}
